.carrosel {
    margin-bottom: 1em;
}

.carrosel_titulo {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--branco);
    color: var(--laranja);
    padding: 1em 0 0.5em 0;
}

.swiper-pagination {
    position: initial;
    padding: 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev {
    display: none;
}

.swiper-button-next {
    display: none;
}




.cards{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    background-color: var(--branco);
    justify-content: center;
    margin: auto;
    box-shadow: 1px 1px 1px rgba(61, 61, 61, 0.502);
    
}

.cards_div_textos {
    padding: 1em 0.5em 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cards_div_h3 {
    color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
}
.cards_div_titulo {
    color: var(--preto);
    font-size: 18px;
    font-weight: 700;
}
.cards_div_texto {
    color: var(--preto);
    font-size: 14px;
    font-weight: 400;
}

.cards_div_icones {
    display: flex;
    justify-items: center;
    gap: 0.5em;
    
}

.cards_div_img {
    padding: 1em 1em 1em 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.cards_div_botao {
    text-decoration: none;
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
    padding: 12px 15px;
    text-align: center;
}



@media screen and (min-width:1024px) {
    .carrosel_titulo {
        font-size: 26px;
    }

    .swiper {
        width: 60%;
        margin-bottom: 2em;
    }

    .swiper-pagination {
        margin-bottom: 2.5em;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }

    .cards {
        width: 45%;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel_titulo{
        font-size: 32px;
    }

    .carrosel_div {
        display: flex;
        gap: 5em;
        padding: 3em 10em;
        align-items: center;
    }

    .swiper-slide img {
        width: 90%;
        margin-bottom: 1em;
    }

    .cards2 {
        margin-bottom: 5em;
    }

    .cards_div_h3 {
        font-size: 32px;
    }

}