.rodape {
    padding: 0.5em 2em;
    color: black;
    display: flex;
    justify-content: space-around;
}

.rodape_texto {
    font-size: 24px;
    margin: 2em 2em 0 0;
}

.rodape_listas {
    margin-top: 2.5em;
}

.rodape_listas_titulo {
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-claro);
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.rodape_lista {
    display: flex;
    align-items: center;
    margin: 0.5em;
    gap: 0.3em;
}

@media screen and (min-width: 1728px) {
    .rodape_listas {
        border-left: 1px solid black;
        padding-left: 1em;
    }
}